<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>oggtw</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-ogg-twtw</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>twtw_documenticon_osx.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ogtw</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TwentyTwenty Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.anioni.ogg-twtw</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>twtw_icon_osx.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.anioni.TwentyTwenty</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>20:20</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>TwTw</string>
	<key>CFBundleVersion</key>
	<string>0.2.0</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>org.xiph.ogg</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TwentyTwenty Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.anioni.ogg-twtw</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>oggtw</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>org.xiph.ogg</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TwentyTwenty Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.anioni.ogg-twtw</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>oggtw</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
